@font-face {
    font-family: 'Inknut Antiqua';
    src: url('./fonts/InknutAntiqua-Regular.ttf') format('Truetype');
}

@font-face {
    font-family: 'Din Pro 400';
    src: url('./fonts/DINPro400.otf') format('OpenType');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Din Pro 400';
}

:root {
  --cursorX: 50vw;
  --cursorY: 50vh;

  --heading01: 64px;
  --subtitle01-link: 17px;
  --subtitle02: 12px; 
  --paragraph: 22px;
}

html {
    background-color: rgba(23, 23, 23, 1);
    height: 100vh;
    overflow: hidden;
}

body {
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
    color: rgb(230, 218, 207)
}

/* background effect */

#background-container {
  z-index: -10;
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: 
  radial-gradient(
    circle 20vmax at var(--cursorX) var(--cursorY),
    rgba(23, 23, 23, 0.7) 0%,
    rgba(23, 23, 23, 0.8) 10%,
    rgba(23, 23, 23, 0.9) 50%,
    rgba(23, 23, 23, 1)100%
  ), url('./images/backgroundpattern.svg');
  background-position: center;
} 

#background-container:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 23, 23, 1);
    opacity: 0;
    animation: background-appear 1s ease-in-out;
}

#background-container:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./images/backgroundpattern.svg');
    opacity: 0;
    animation: background-appear 1s ease-in-out;
}

@keyframes background-appear {
    0% {
        opacity: 0.1;
    }
}

/* projects line */

#projects-container {
    position: relative;
}

#line {
    z-index: -1;
    position: absolute;
    top: -10%;
    left: 50%;
    width: 1px;
    height: 120%;
    background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 7.92%, #FFFFFF 93.34%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.4;
}

/* sections  */

#header {
    transform: translateY(-20%);
    max-width: 70%;
    animation: appear 2s ease-in-out;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
}

#header h1, #header p {
    font-size: var(--subtitle02);
    line-height: 15px;
    text-transform: uppercase;
}

#header h1 {
    opacity: 0.7;
    margin-bottom: 24px;
}

#header p {
    opacity: 0.34;
    margin-top: 24px;
} 

#header p:nth-child(3) {
    font-size: var(--subtitle01-link);
    line-height: 22px;
    opacity: 0.72;
    max-width: 588px;
} 

#hello-hand {
    max-width: 250px;
    position: relative;
    top: 15%;
    transform-origin: bottom center;
}

@keyframes wave-hand {
    0% {
        transform: rotate(0deg);
    } 
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-snap-align: center;
    perspective: 1000px;
    margin: 0 40px;
}

section h2 {
	opacity: 0;
    font-family: 'Inknut Antiqua';
    font-size: var(--heading01);
    line-height: 110%;
    letter-spacing: -0.025em;
    margin-bottom: 16px;
    user-select: none;
}

section.is-visible h2, section.is-visible video {
	opacity: 1;
    transition: opacity 1000ms;
}

section.movefromleft h2 {
    animation: movefromleft 0.5s ease-in-out;
}

section.movefromright h2 {
    animation: movefromright 0.5s ease-in-out;
}

@keyframes movefromleft {
    0% {
        transform: translateX(-20%)
    }
    100% {
        transform: translateX(0%)
    }
}

@keyframes movefromright {
    0% {
        transform: translateX(20%)
    }
    100% {
        transform: translateX(0%)
    }
}

video {
    opacity: 0;
    width: 40%;
    min-width: 200px;
    border-radius: 24px;
    transform: matrix(0.98, -0.1, 0.2, 0.99, 0, 0) translate(calc(var(--cursorX)/50), calc(var(--cursorY)/15));
    margin-right: 90px;
}

section.movefromleft video, section.movefromright video {
    animation: video-text 0.8s ease-out; 
}

@keyframes video-text {
    0% {
        transform: matrix(0.98, -0.1, 0.2, 0.99, 0, 0) rotateX(-80deg);
    }
}

video:nth-child(2n) {
    margin-left: 50px;
    margin-right: 0;
}

aside:not(#header) {
    max-width: 347px;
}

aside h3 {
    font-size: var(--paragraph);
    line-height: 110%;
    letter-spacing: -0.025em;
    color: rgba(230, 218, 207, 0.7);
    margin-bottom: 40px;
}

aside .link-github {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--subtitle01-link);
    line-height: 110%;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #FFF1E5;
}

aside .link-github img {
    margin-right: 12px;
}

#contact {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 150px;
}

#contact h2 {
    font-size: 46px;
}

#contact div {
    display: flex;
}

#contact div p {
    width: 50%;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.025em;
    color: rgba(230, 218, 207, 0.7);
    padding-left: 30px;
    margin-bottom: 80px;
}

#contact > p:first-of-type {
    font-size: var(--subtitle01-link);
    line-height: 22px;
    text-transform: uppercase;
    color: rgba(230, 218, 207, 1);
    margin-bottom: 16px;
}

#contact div p:first-child {
    padding-right: 15px;
    padding-left: 0;
}

#contact > p:last-of-type {
    font-size: var(--subtitle02);
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(230, 218, 207, 0.72);
    margin-bottom: 16px;
}

#contact div a {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(230, 218, 207, 0.48);
    margin-right: 16px;
}

@media (max-width: 1000px) {
    :root {
        --heading01: 34px;
        --subtitle01-link: 12px;
        --paragraph: 16px;
    }

    #hello-hand {
        max-width: 150px;
        top: -5%;
        margin-bottom: 40px;
        order: -1;
    } 

    #line {
        background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 7.92%, #FFFFFF 93.34%, rgba(255, 255, 255, 0) 100%);
        opacity: 0.2;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    aside {
        width: 100%;
    }

    aside:not(#header) {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    aside h3 {
        margin-bottom: 30px;
    }

    video {
        margin-bottom: 10%;
        margin-right: 0;
    }

    video:nth-child(2n) {
        margin-left: 0;
    }

    .left video {
        order: -1;
    }

    #contact {
        align-items: center;
        margin: 0 100px;
    }

    #contact h2 {
        font-size: 36px;
    }

    #contact div:not(:last-child) {
        flex-direction: column;
        align-items: center;
    }

    #contact div p {
        width: 100%;
        margin-bottom: 0;
        padding: 0;
        font-size: 14px;
    }

    #contact div p:last-of-type {
        margin-bottom: 40px;
    }

}

@media (max-width: 425px) {
    :root {
        --heading01: 28px;
        --subtitle01-link: 12px;
        --paragraph: 14px;
    }

    #hello-hand {
        max-width: 80px;
    } 

    section h2 {
        font-size: 36px;
    }

    #header h1 {
        margin-top: 40px;
        margin-bottom: 12px;
    }

    video {
        width: 70%;
        margin-bottom: 15%;
    }

    aside .link-github {
        font-size: 12px;
    }

    #contact {
        align-items: center;
        margin: 0 20px;
    }

    #contact div p:last-of-type {
        margin-bottom: 20px;
    }

}