* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

:root {
  /* mouse effect effect */
  --cursorX: 50vw;
  --cursorY: 50vh;

  /* colors */
  --body: #f5f0ff;
  --accentPrimary: #b997fc;
  --accentPrimaryLightOpacity: rgba(185, 151, 252, 0.1);
  --accentPrimaryMediumOpacity: rgba(185, 151, 252, 0.3);
  --accentSecondary: #d4c4f5;
  --accentOnline: #01d693;
  --caption: #9087A1;
  --background: #16121f;

  /* font */
  --fontWeights-regular: 400;
  --fontWeights-semibold: 600;
  --fontSizes-S: 1.4rem;
  --fontSizes-M: 1.8rem;
  --fontSizes-L: 2rem;
  --fontSizes-XL: 4rem;
  --lineHeights-S: 1.5rem;
  --lineHeights-M: 2.6rem;
  --lineHeights-L: 4.4rem;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--background);
  color: var(--body);
}

main {
  padding: 8rem 4rem;
  max-width: 56rem;
  margin: 0 auto;
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

/* background effect */

#background-container {
  z-index: -10;
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: radial-gradient(
      circle 20vmax at var(--cursorX) var(--cursorY),
      rgba(22, 18, 31, 0.7) 0%,
      rgba(22, 18, 31, 0.8) 10%,
      rgba(22, 18, 31, 0.9) 50%,
      rgba(22, 18, 31, 1) 100%
    ),
    url("./images/backgroundpattern.svg");
  background-position: center;
}

/* fonts */

.font-paragraphs {
  font-size: var(--fontSizes-M);
  line-height: var(--lineHeights-M);
}

.font-header {
  font-weight: var(--fontWeights-semibold);
  font-size: var(--fontSizes-XL);
  line-height: var(--lineHeights-L);
  color: var(--accentPrimary);
}

.font-titles {
  font-weight: var(--fontWeights-semibold);
  font-size: var(--fontSizes-L);
  line-height: var(--lineHeights-M);
}

.font-subtitles {
  font-size: var(--fontSizes-S);
  line-height: var(--lineHeights-S);
  font-style: italic;
  color: var(--caption);
}

.font-sections {
  font-size: var(--fontSizes-S);
  line-height: var(--lineHeights-S);
  text-transform: uppercase;
}

.font-section-header-color {
  color: var(--background);
}

.font-section-color {
  color: var(--accentPrimary);
}

/* sections */

.intro {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .tag {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: fit-content;
    padding: 0.4rem 0.6rem;
    border-radius: 0.4rem;
    background-color: var(--body);

    .green-dot {
      width: 0.8rem;
      height: 0.8rem;
      background-color: var(--accentOnline);
      border-radius: 50%;
      display: inline-block;
    }
  }

  .intro-header {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .intro-text {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}

.stack {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    .links {
        display: flex;
        gap: 1.6rem;
    
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-radius: 0.8rem;
            padding: 1.2rem 0;
            background-color: var(--accentPrimaryLightOpacity);
            backdrop-filter: blur(10px);
            transition: background-color 0.2s ease;

            &:hover {
                background-color: var(--accentPrimaryMediumOpacity);
            }
        }
    }
}

.experiences {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    .container {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .experience {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
        }
    }
}